<div class="monogram-notes">
  <p>EMBROIDERY DETAILS:</p>
<p>MONOGRAMMED ITEMS ARE FINAL SALE  </p>
<p>Please understand all monogrammed items are not
eligible for returns or exchanges.  If in doubt, we
  reccomend ordering a blank bag please.</p>
<br>
<p>*EMBROIDERY:</p>
<p>All monograms are sewn directly onto the bag with
  your choice of thread and font.</p>
<br>
<p>** SIZE:</p>
<p>Multi letter monograms are scaled to 1” tall.  <br>
  Single letter monograms are scaled to 1.5” tall.</p>
 <br>
<p>*** SHIPPING:</p>
<p>Allow 7-10 days for monogram products to ship.<br>
Your entire order will ship together once completed.<br>
Exepdited shipping does not expedite the 7-10 days
  that embroidery takes. </p>
</div>
<style>
  .monogram-notes p { margin-bottom: 0; }
</style>